//! **************************************************************************
// Written by: Map P.15xf on Mon Dec 17 11:44:28 2012
//! **************************************************************************

SCHEMATIC START;
COMP "heartbeat_led" LOCATE = SITE "P74" LEVEL 1;
COMP "rst_in" LOCATE = SITE "P128" LEVEL 1;
COMP "clk_in" LOCATE = SITE "P56" LEVEL 1;
TIMEGRP Inst_low_dcm_CLKDV_BUF = BEL "Inst_heartbeat/count_0" BEL
        "Inst_heartbeat/count_1" BEL "Inst_heartbeat/count_2" BEL
        "Inst_heartbeat/count_3" BEL "Inst_heartbeat/count_4" BEL
        "Inst_heartbeat/count_5" BEL "Inst_heartbeat/count_6" BEL
        "Inst_heartbeat/count_7" BEL "Inst_heartbeat/count_8" BEL
        "Inst_heartbeat/count_9" BEL "Inst_heartbeat/count_10" BEL
        "Inst_heartbeat/count_11" BEL "Inst_heartbeat/count_12" BEL
        "Inst_heartbeat/count_13" BEL "Inst_heartbeat/count_14" BEL
        "Inst_heartbeat/count_15" BEL "Inst_heartbeat/count_16" BEL
        "Inst_heartbeat/count_17" BEL "Inst_low_dcm/CLKDV_BUFG_INST.GCLKMUX"
        BEL "Inst_low_dcm/CLKDV_BUFG_INST";
PIN Inst_low_dcm/DCM_SP_INST_pins<3> = BEL "Inst_low_dcm/DCM_SP_INST" PINNAME
        CLKIN;
TIMEGRP clk_in = PIN "Inst_low_dcm/DCM_SP_INST_pins<3>";
TS_clk_in = PERIOD TIMEGRP "clk_in" 167 ns HIGH 50%;
TS_Inst_low_dcm_CLKDV_BUF = PERIOD TIMEGRP "Inst_low_dcm_CLKDV_BUF" TS_clk_in
        * 16 HIGH 50%;
SCHEMATIC END;

