NET "clk_in" TNM_NET = "clk_in";
TIMESPEC "TS_clk_in" = PERIOD "clk_in" 166.67 ns HIGH 50 %;
OFFSET = IN 10 ns BEFORE "clk_in"  ;
OFFSET = OUT 10 ns AFTER "clk_in"  ;
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 20 ns;



NET "clk_in"  LOC = "P56" | IOSTANDARD = LVCMOS33 ;
NET "heartbeat_led"  LOC = "P74" | IOSTANDARD = LVCMOS33  | SLEW = SLOW ;
NET "rst_in"  LOC = "P128" | IOSTANDARD = LVCMOS33  | PULLUP ;

#SRAM INTERFACE
NET "a<0>" LOC = "P2" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<1>" LOC = "P3" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<2>" LOC = "P4" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<3>" LOC = "P5" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<4>" LOC = "P7" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<5>" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<6>" LOC = "P14" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<7>" LOC = "P15" | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "a<8>" LOC = "P16" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<9>" LOC = "P17" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<10>" LOC = "P20" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<11>" LOC = "P21" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<12>" LOC = "P25" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<13>" LOC = "P26" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<14>" LOC = "P32" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<15>" LOC = "P33" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "a<16>" LOC = "P34" | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "d<0>" LOC = "P51" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<1>" LOC = "P52" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<2>" LOC = "P53" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<3>" LOC = "P54" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<4>" LOC = "P75" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<5>" LOC = "P76" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<6>" LOC = "P77" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "d<7>" LOC = "P23" | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;

NET "oe_n" LOC = "P50" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "we_n" LOC = "P35" | IOSTANDARD = LVCMOS33 | SLEW = FAST;